.diagramsPanel {
  width:100%;
  white-space:nowrap;
}

.diagramDiv {
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  width: 80%;
  height: 900px;
}

.paletteDiv {
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  width: 19%;
  height: 900px;
}
