.item {
    height: 250px;
    width: 170px;
    border: 1px solid gray;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
}
.header {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    border-bottom: solid 1px lightgray;
}
.title {
    flex: 1;
    text-align: center;
}
.body {
    flex: 1;
}
.footer {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    border-top: solid 1px lightgray;
}
.messageInput {
    width: 100px;
}